body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(150, 40, 40);
}

input, select {
    margin: 5px;
    padding: 6px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}